*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  html,
  body {
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      background-color: rgba(36, 37, 42, 1);
  }

  .Holder{
    margin: 40vh 0 0 20vw;
  }


  .Path{
    display: inline-block;
    width:45%;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight:bolder;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    background-color: inherit;
    border:2px solid white;
    margin:5px;
    letter-spacing: 3px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-delay: 0.1s;
    color: white;
    border-radius: 5px;
  }
  .Path:hover{
    cursor: pointer;
    box-shadow: 5px 6px 8px 0 rgba(255,255,255,0.24),0 17px 50px 0 rgba(255,255,255,0.19);
    background-color: white;
    color: black;
    letter-spacing: 5px;
    
  }
  .Path1{
      margin-right: 10vh;
  }

@media only screen and (max-width:1111px){
    .Holder{
        margin: 30vh 0 0 18vw;
    }
    .Path{
        display: block;
        width:75%;
    }
    .Path1{
        margin-right: 0vh;
        margin-bottom: 10vh;
    }
}